/* list of components */
/* || root */
/* || .content (__header, __app, __card-group, __table, __settings) */
/* || .app (__column, __form, __table, __control) */
/* || .header (__title, __text) */
/* || .form (__textarea, __user-control) */
/* || .table */
/* || others */

/* || root */
:root {
}

/* || .content */
.content {
  max-width: 100%;
  height: 615px;
}

/* || .content components */
.content__header {
}

.content__app {
}

.content__card-group {
  margin-top: 8px;
}

.content__table {
  margin: 0 12px;
}

.content__settings {
}

/* || .app */
.app {
}

/* || .app components */
.app__column {
}

.app__form {
}

.app__table {
}

.app__control {
}

/* || .header */
.header {
  text-align: left;
}

/* || .header components */
.header__title {
}
.header__title_theme-blue {
  color: #306998;
}

.header__text {
  font-size: 1rem;
}

/* || .form */
.form {
}

/* || .form components */
.form__textarea {
  height: 400px;
}

.form__user-control {
}

/* || .table */
.table {
  table-layout: auto;
  width: 100%;
}

/* || others */
.card-title {
  font-weight: bolder;
  color: #255175;
}

.card-title_uppercase {
  text-transform: uppercase;
}
