/* list of components */
/* || root */
/* || .content (__header, __app, __card-group, __table, __settings) */
/* || .app (__column, __form, __table, __control) */
/* || .header (__title, __text) */
/* || .form (__textarea, __user-control) */
/* || .word (__pronunciation) */
/* || .table */
/* || others */

/* || root */
:root {
}

/* || .content */
.content {
  max-width: 100%;
  min-height: 615px;
}

/* || .content components */
.content__header {
  margin-top: 12px;
}

.content__app {
}

.content__card-group {
  margin-top: 8px;
}

.content__table {
  margin: 0 12px;
}

.content__settings {
}

/* || .app */
.app {
}

/* || .app components */
.app__column {
}

.app__form {
}

.app__table {
}

.app__control {
}

/* || .header */
.header {
  text-align: left;
}

/* || .header components */
.header__title {
}
.header__title_theme-blue {
  color: #306998;
}

.header__text {
  font-size: 1rem;
}

/* || .form */
.form {
}

/* || .form components */
.form__textarea {
  height: 400px;
}

.form__user-control {
}

/* || .word */
.word {
}

/* || .word components */
.word__meta {
  display: flex;
  align-items: center;
}

.word__error {
  color: #f00;
}

.word__entry {
  margin: 8px auto;
}

.word__derivatives {
  margin-top: 6px;
}

/* || .entry */
.entry {
}

/* || .entry components */
.entry__meta {
  display: flex;
  align-items: center;
}

/* || .table */
.table {
  table-layout: auto;
  width: 100%;
}

/* || others */
.pronunciation {
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.pronunciation audio {
  display: none;
}

.pronunciation i {
  margin-right: 3px;
}

/* span.entry__sense::after {
  content: "  ";
} */

.card-title {
  font-weight: bolder;
  color: #255175;
  margin-bottom: 0;
}

.uppercase {
  text-transform: uppercase;
}
