/* structure
|| general
|| .content (with modifier, layout, components)
|| .section (with modifier, layout, components)
|| .header
|| misc
|| @media: 992px
*/

/* || general */
:root {
  /* --main-theme-color: #eae7dc; */
  --main-theme-color: rgb(245, 245, 245);
  --alt-theme-color: #d8c3a5;
  --main-theme-contrast: #e4dcea;
  --text-color: #8e8d8a;
  --heading-color1: #e98074;
  --heading-color2: #e85a4f;
  /* --section-color: #ffd3c9; */
  --section-color: #fff;
}

body {
  background: var(--main-theme-color);
  /* padding-top: 3%; */
}

/* || .content */
.content {
  font-size: 1rem;
}
/* content modifiers */
.content--hm-0 {
  margin: auto 0;
}
.content--hm-10 {
  margin: auto 10%;
}
.content--hm-20 {
  margin: auto 20%;
}

/* content layout */
.content__section {
  padding: 0 30%;
}

/* || .section */
.section {
  width: 100%;
  padding: 20px;
  background-color: var(--section-color);
}

/* section modifiers */
.section--full-viewport {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

/* section layout */
.section__header {
  margin: 30px 0;
  text-align: center;
}

/* || .header */
.header {
  color: var(--heading-color2);
  text-align: center;
}

/* || misc */
.contact-links {
  margin-top: 40px;
  text-align: center;
  font-size: 1.8em;
}

.contact-links > a {
  color: var(--heading-color2);
}

.borderless td,
.borderless th {
  border: none;
}

.table-container {
  font-size: 1.5em;
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
}

.table__skills {
  padding-bottom: 0.5em;
  font-style: italic;
}

.narrow-table-cell {
  width: 350px;
}

/* || responsive 992px  */
@media (max-width: 992px) {
  .content {
    margin: auto 10%;
  }
  .content__article {
    margin: 10px 0;
  }
}

/* || PRODUCT PAGE */

/* #content {
  margin-top: 200px;
}


#models {
  display: block;
}

@media (min-width: 992px) {
  #models {
    display: flex;
    justify-content: space-around;
  }
} */
