{% extends "showcase/layout.html" %} {% load static %} {% block script %}
<script type="text/javascript" src="{% static 'showcase/index.js' %}"></script>
{% endblock %} {% block body %}
<main class="content content--hm-0">
  <section class="section content__section section--full-viewport" id="welcome">
    <header class="header section__header">
      <h1 class="fw-bold">Welcome to My Web Development Portfolio</h1>
    </header>
    <div class="table-container">
      <table class="table borderless">
        <thead>
          <tr>
            <th class="narrow-table-cell">Project</th>
            <th>Skills Demostrated</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="narrow-table-cell">
              <a
                href="https://main.d3jxktapnx8jp1.amplifyapp.com/"
                target="_blank"
                >GIS analysis web tool <br />[prototype]</a
              >
            </td>
            <td>ArcGIS API, React, Redux, AWS Amplify</td>
          </tr>
          <tr>
            <td class="narrow-table-cell">
              <a href="{% url 'vocabulary:index' %}" target="_blank"
                >Vocabulary Builder <br />[alpha testing]</a
              >
            </td>
            <td>Django, Bootstrap, Fetch API</td>
          </tr>
          <tr>
            <td class="narrow-table-cell">
              <a href="{% url 'jobhunter:index' %}" target="_blank"
                >Job Hunter <br />[alpha testing]</a
              >
            </td>
            <td>
              JavaScript, DOM Events, HTML Form, Django, Bootstrap, Fetch API
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="contact-links">
      <a
        class="contact-details"
        href="https://github.com/alexhyang"
        target="_blank"
        title="GitHub"
        ><i class="fab fa-github"></i
      ></a>
      <a
        class="contact-details"
        href="https://www.linkedin.com/in/alexhanyang/"
        target="_blank"
        id="profile-link"
        title="LinkedIn"
        ><i class="fab fa-linkedin"></i
      ></a>
    </div>
  </section>
</main>
<footer class="footer pt-4 text-center">
  <p>&copy; 2021 Alex Han Yang | <span>Powered by Django &#38; Heroku</span></p>
</footer>
{% endblock %}
