{% extends "showcase/layout.html" %} {% load static %} {% block body %}

<main class="content">
  <header class="header content__header">
    <h1 class="header__title">Survey Form</h1>
  </header>

  <form action="#" class="form content__form">
    <!-- simple text input -->
    <div class="mb-3">
      <label class="form-label" for="name" id="name-label">Name</label>
      <input
        type="text"
        name="name"
        id="name"
        class="form-control"
        placeholder="Enter your name"
        required
      />
    </div>
    <!-- simple text input -->
    <div class="mb-3">
      <label class="form-label" for="email" id="email-label">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        class="form-control"
        placeholder="Enter your Email"
        required
      />
    </div>
    <!-- multiple selections -->
    <div class="mb-3">
      <label class="form-label" for="dropdown" id="age-label">Age</label>
      <select name="age" id="dropdown" class="form-select" required>
        <option selected>Select your age</option>
        <option value="<10">smaller than 10</option>
        <option value="10-20">10 to 20</option>
        <option value="20-40">20 to 40</option>
        <option value="40-60">40 to 60</option>
        <option value=">60">greater than 60</option>
      </select>
    </div>
    <!-- numeric input -->
    <div class="mb-3">
      <label for="length" id="number-label"
        >How many years have you been watching soccer?</label
      >
      <input
        type="number"
        id="length"
        min="0"
        max="99"
        class="form-control"
        placeholder="Years of watching soccer"
      />
    </div>
    <!-- form check -->
    <div class="mb-3">
      <p>
        Which league(s) do you watch?
        <span class="clue">(Check all that apply)</span>
      </p>
      <div class="form-check">
        <input
          name="leagues"
          type="checkbox"
          class="form-check-input"
          id="premier-league"
        />
        <label class="form-check-label" for="premier-league">
          Premier League</label
        >
      </div>
      <div class="form-check">
        <input
          name="leagues"
          type="checkbox"
          class="form-check-input"
          id="la-liga"
        />
        <label class="form-check-label" for="la-liga"> La Liga</label>
      </div>
      <div class="form-check">
        <input
          name="leagues"
          type="checkbox"
          class="form-check-input"
          id="bundesliga"
        />
        <label class="form-check-label" for="bundesliga"> Bundesliga </label>
      </div>
      <div class="form-check">
        <input
          name="leagues"
          type="checkbox"
          class="form-check-input"
          id="ligue-1"
        />
        <label class="form-check-label" for="ligue-1"> Ligue 1 </label>
      </div>
      <div class="form-check">
        <input
          name="leagues"
          type="checkbox"
          class="form-check-input"
          id="primeira-liga"
        />
        <label class="form-check-label" for="primeira-liga">
          Primeira Liga
        </label>
      </div>
      <div class="form-check">
        <input
          name="leagues"
          type="checkbox"
          class="form-check-input"
          id="others"
        />
        <label class="form-check-label" for="others"> Others </label>
      </div>
    </div>
    <!-- form radio -->
    <div class="mb-3">
      <p>Do you have a family member who's also a soccer fan?</p>
      <div class="form-check">
        <input
          name="leagues"
          type="radio"
          class="form-check-input"
          id="family-fan-yes"
        />
        <label class="form-check-label" for="family-fan-yes"> Yes </label>
      </div>
      <div class="form-check">
        <input
          name="leagues"
          type="radio"
          class="form-check-input"
          id="family-fan-no"
        />
        <label class="form-check-label" for="family-fan-no"> No </label>
      </div>
    </div>
    <!-- form textarea -->
    <div class="mb-3">
      <label class="form-label" for="experience" id="experience-label">
        Tell us one of your most exciting experience when watching soccer match
      </label>
      <textarea
        name="experience"
        id="experience"
        rows="8"
        placeholder="Your most exciting experience"
        class="form-control"
      ></textarea>
    </div>
    <!-- submit button -->
    <div class="mb-3">
      <button type="submit" id="submit" class="btn btn-primary float-end">
        <i class="fa fa-paper-plane" aria-hidden="true"> </i> Submit
      </button>
    </div>
  </form>
</main>
{% endblock %}
