{% extends "showcase/layout.html" %} {% load static %} {% block body %}

<main class="content content--hm-20">
  <header class="header content__header">
    <h1 class="header__title">Richard Feynman</h1>
    <div class="header__subtitle">
      The American Physician known for path integral and theory of quantum
      electrodynamics
    </div>
  </header>
  <figure class="figure content__figure">
    <div>
      <img
        class="figure__img"
        src="https://images.livemint.com/img/2020/02/14/600x338/f5a5ccf6-4e2f-11ea-9a4a-0753642b346f_1581658105095_1581658584288.jpg"
        alt="Feynman having a class"
      />
    </div>
    <figcaption class="figure__caption text-muted">
      Feynman (left) in class
    </figcaption>
  </figure>
  <article class="article content__article">
    <div class="article__text">
      Richard Phillips Feynman was an American theoretical physicist, known for
      his work in the path integral formulation of quantum mechanics, the theory
      of quantum electrodynamics, the physics of the superfluidity of
      supercooled liquid helium, as well as his work in particle physics for
      which he proposed the parton model. For contributions to the development
      of quantum electrodynamics, Feynman received the Nobel Prize in Physics in
      1965 jointly with Julian Schwinger and Shin'ichirō Tomonaga.
    </div>
    <div class="article__text">
      Feynman developed a widely used pictorial representation scheme for the
      mathematical expressions describing the behavior of subatomic particles,
      which later became known as Feynman diagrams. During his lifetime, Feynman
      became one of the best-known scientists in the world. In a 1999 poll of
      130 leading physicists worldwide by the British journal
      <em>Physics World</em>, he was ranked the seventh greatest physicist of
      all time.
    </div>
    <div class="article__text">
      He assisted in the development of the atomic bomb during World War II and
      became known to a wide public in the 1980s as a member of the Rogers
      Commission, the panel that investigated the Space Shuttle
      <em>Challenger</em> disaster. Along with his work in theoretical physics,
      Feynman has been credited with pioneering the field of quantum computing
      and introducing the concept of nanotechnology. He held the Richard C.
      Tolman professorship in theoretical physics at the California Institute of
      Technology.
    </div>
    <div class="article__text">
      Feynman was a keen popularizer of physics through both books and lectures,
      including a 1959 talk on top-down nanotechnology called
      <em>There's Plenty of Room</em> at the Bottom and the three-volume
      publication of his undergraduate lectures,
      <a
        class="article__link"
        target="_blank"
        href="https://en.wikipedia.org/wiki/The_Feynman_Lectures_on_Physics"
        ><em>The Feynman Lectures on Physics</em></a
      >. Feynman also became known through his semi-autobiographical books
      Surely You're Joking, Mr. Feynman! and
      <em>What Do You Care What Other People Think?</em>, and books written
      about him such as <em>Tuva or Bust!</em> by Ralph Leighton and the
      biography <em>Genius: The Life and Science of Richard Feynman</em> by
      James Gleick.
    </div>
  </article>
</main>
{% endblock %}
