{% extends "jobhunter/layout.html" %} {% block scripts %} {% load static %}
<script type="text/javascript" src="{% static 'jobhunter/index.js' %}"></script>
{% endblock %} {% block body %} {% for message in messages %}
<div class="alert {{ message.tags }}">{{ message }}</div>
{% endfor %}
<h1>Postings List</h1>
<table class="table table-striped">
  <tbody>
    <thead>
      <tr>
        <th>ID</th>
        <th>Position</th>
        <th>Level</th>
        <th>Company</th>
        <th>Place</th>
        <th>Due Date</th>
        <th>Notes</th>
      </tr>
    </thead>
    {% for posting in postings %}
    <tr>
      <td>{{ posting.id }}</td>
      <td>
        <a href="{% url 'jobhunter:posting' posting.id %}"
          >{{ posting.position }}</a
        >
      </td>
      <td>{{ posting.level }}</td>
      <td>{{ posting.company }}</td>
      <td>{{ posting.place }}</td>
      <td>{{ posting.due_date }}</td>
      {% if posting.other %}
      <td>Yes</td>
      {% else %}
      <td>No</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
