{% extends "jobhunter/layout.html" %} {% block scripts %} {% load static %}
<script type="text/javascript" src="{% static 'jobhunter/index.js' %}"></script>
{% endblock %} {% block body %} {% for message in messages %}
<div class="alert {{ message.tags }}">{{ message }}</div>
{% endfor %}
<h1>Notes</h1>
<table class="table table-striped">
  <tbody>
    <thead>
      <tr>
        <th>ID</th>
        <th>Position</th>
        <th>Notes</th>
      </tr>
    </thead>
    {% for posting in postings %}
    {% if posting.other %}
    <tr>
      <td>{{ posting.id }}</td>
      <td>
        <a href="{% url 'jobhunter:posting' posting.id %}"
          >{{ posting.position }}</a
        >
      </td>
      <td>{{ posting.other }}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endblock %}
