{% extends "jobhunter\layout.html" %} {% load crispy_forms_tags %} {% block body %}
<div class="row row-cols-1 row-cols-lg-2 g-5">
  <div class="col posting-meta">
    <h1>{{ posting.position }}</h1>
    <table class="table table-striped table-posting">
      <tbody>
        <tr>
          <th scope="row">Company</th>
          <td>{{ posting.company }}</td>
        </tr>
        <tr>
          <th scope="row">Place</th>
          <td>{{ posting.place }}</td>
        </tr>
        <tr>
          <th scope="row">Position Level</th>
          <td>{{ posting.level }}</td>
        </tr>
        {% if position.type %}
        <tr>
          <th scope="row">Position Type</th>
          <td>{{ posting.type }}</td>
        </tr>
        {% endif %}
        <tr>
          <th scope="row">Posting page</th>
          <td><a href="{{ posting.url }}" target="_blank">link</a></td>
        </tr>
        <tr>
          <th scope="row">Application due date</th>
          <td>{{ posting.due_date }}</td>
        </tr>
        {% if posting.other %}
        <tr>
          <td>Notes</td>
          <td>{{ posting.other }}</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  <div class="col posting-skills">
    <h2>Skills</h2>
    <p>{{ posting.skills }}</p>
  </div>
  <div class="col posting-responsibilities">
    <h2>Responsibilities</h2>
    <p>{{ posting.responsibilities|safe }}</p>
  </div>
  <div class="col posting-qualifications">
    <h2>Qualifications</h2>
    <p>{{ posting.qualifications|safe }}</p>
  </div>
</div>
{% endblock %}