{% extends "vocabulary/layout.html" %}
{% load static %}

{% block body %}
    <h1>Let's Play with JavaScirpt</h1>
    <div>
        <h2>Steps:</h2>
        <ol>
            <li>receive sentence and display</li>
            <li>breakdown into words</li>
            <li>count the frequency</li>
            <li>show in a table</li>

        </ol>
    </div>
    <div>
        <form>
            <textarea id="text_input" placeholder="Enter any text"></textarea>
            <input type="submit" id="submit" value="Submit"/>
        </form>
    </div>
    <div>
        <h3>Sentence:</h3>
            <h4>Sentence Breakdown:</h4>
            <p id="sentence_breakdown" class="result"></p>
        <h3>Frequecy table:</h3>
            <p>freq table:</p>
            <p id="freq_table"></p>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'vocabulary/js-playground.js' %}"></script>
{% endblock %}