/* || general */
:root {
  --main-theme-color: #eae7dc;
  --alt-theme-color: #d8c3a5;
  --main-theme-contrast: #e4dcea;
  --text-color: #8e8d8a;
  --heading-color1: #e98074;
  --heading-color2: #e85a4f;
}

body {
  background: var(--main-theme-color);
  padding-top: 70px;
}

/* || nav */
nav {
  font-size: 1.5rem;
  background-color: var(--main-theme-color);
}

.navbar-brand,
.navbar-brand:hover {
  font-size: 1.5rem;
  color: var(--text-color);
}

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  margin: 0 40px;
}

.nav-link {
  position: relative;
  color: var(--text-color);
  text-decoration: none;
  display: inline-block;
}

.nav-link:hover {
  color: var(--text-color);
}

.nav-link:after {
  display: block;
  content: "";
  border-bottom: solid 3px var(--text-color);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 100% 50%;
}

.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: 0 50%;
}

.navbar-nav li:nth-last-child(1) {
  margin-right: 0;
}

/* || .content */
.content {
  font-size: 1rem;
}
/* content modifiers */
.content--hm-0 {
  margin: auto 0;
}
.content--hm-10 {
  margin: auto 10%;
}
.content--hm-20 {
  margin: auto 20%;
}

/* content layout */
.content__header {
  margin: 10px auto;
}

.content__section {

}

/* content components */
.content__figure {
  margin: 10px 20px;
}

.content__article {
  margin: 10px 20px;
}

.content__form {
  padding: 30px 30px 60px;
}

/* || .section */
.section {
}
/* section modifiers */
.section--center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}
.section-- {
  width: 100%;
  height: auto;
  font-size: 2rem;
  text-align: center;
  display: inline-block;
  color: var(--heading-color2);
  padding-top: 50px;
}

/* section layout */
.section__header {
  margin: 30px 0;
  text-align: center;
}

.section__text {
  color: var(--text-color);
}

/* section components */
.section__link {
  color: var(--heading-color1);
  text-decoration: none;
}

.section__link:hover {
  color: var(--heading-color1);
  text-decoration: underline;
}

.section__hr {
  width: 20%;
  margin: 10px auto;
  color: var(--heading-color2);
}

/* || .article */
.article {
}

.article__text {
  margin-bottom: 1rem;
}

.article__link {
  text-decoration: none;
}

/* || .header */
.header {
  color: var(--heading-color2);
  text-align: center;
}

.header__title {
}

.header__subtitle {
  font-style: italic;
}

/* || .figure */
.figure {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.figure__img {
  display: block;
  margin: 10px auto;
  max-width: 100%;
  height: auto;
}

.figure__caption {
  text-align: center;
  font-size: 0.8rem;
}

/* || .form */
.form {
  background-color: var(--main-theme-contrast);
  border-radius: 8px;
}

/* || .card */
.card {
  border-color: var(--alt-theme-color);
  /* background-color: rgba(255, 255, 255, 0); */
  background-color: var(--main-theme-color);
}

/* .card img {
  width: 200px;
  height: 200px;
} */

/* || responsive 992px  */
@media (max-width: 992px) {
  .content {
    margin: auto 10%;
  }
  .content__article {
    margin: 10px 0;
  }
}

/* || PRODUCT PAGE */
/* header {
  background: #e8e8e8;
  padding: 5px 20px;
  margin-bottom: 1rem;
  border-radius: 1rem;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
}

#nav-bar {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
}

#header-img {
  height: 60px;
}

#nav-ul {
  margin-left: auto;
  display: flex;
  padding: 1rem;
  list-style-type: none;
  justify-content: space-between;
}

#nav-ul li {
  margin: auto 2rem;
}

.nav-link {
  color: #000000;
  text-decoration: none;
} */

/* #content {
  margin-top: 200px;
}

section {
  text-align: center;
  margin: 1rem 20%;
}

#models {
  display: block;
}

@media (min-width: 992px) {
  #models {
    display: flex;
    justify-content: space-around;
  }
} */

/* || TRIBUTE PAGE */

/* || APP PAGE */

/* sections */

/* footer */
