{% extends "vocabulary/layout.html" %} {% load static %} {% block script %}
<script
  type="text/javascript"
  src="{% static 'vocabulary/index.js' %}"
></script>
{% endblock %} {% block body %}
<div class="row g-5">
  <!-- left column: inputs -->
  <div class="col-md-auto">
    <!-- Description -->
    <div class="mb-3">
      <h1>Introduction</h1>
      <p>
        This web application receives any text and counts the frequency of each
        word used in the text.
      </p>
    </div>
    <!-- Form input -->
    <form class="mb-3">
      <textarea
        id="textarea"
        class="form-control"
        rows="14"
        placeholder="Enter any text"
      ></textarea>
      <p id="counter"></p>
      <div class="mb-3">
        <button id="count" class="btn btn-primary">Count Frequency</button>
        <button id="clear" class="btn btn-danger" type="reset">
          Clear text
        </button>
      </div>
    </form>
  </div>
  <!-- right column: results -->
  <div class="col-md" id="result-section" style="display: none">
    <!-- table -->
    <div class="mb-3 mt-5" style="overflow-y: auto; height: 400px">
      <table id="freq-table" class="table table-striped overflow-auto">
        <tr>
          <th>Word</th>
          <th>Count</th>
        </tr>
      </table>
    </div>
    <!-- User Action -->
    {% if user.is_authenticated %}
    <div class="mb-3">
      <form action="{% url 'save' %}" method="POST">
        {% csrf_token %}
        <textarea name="result" id="result" style="display: none"></textarea>
        <select
          name="list_option"
          class="form-select mb-3"
          aria-label=".form-select-lg example"
        >
          <option selected disabled>Select a list</option>
          {% for wordlist in wordlists %}
          <option value="{{wordlist.name}}">{{wordlist.name}}</option>
          {% endfor %}
        </select>
        <button id="save" class="btn btn-primary" type="submit">
          Save Result
        </button>
      </form>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
