{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Vocabulary{% endblock %}</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'images/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'images/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'images/favicon-16x16.png' %}"
    />
    <link rel="manifest" href="{% static 'images/site.webmanifest' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'vocabulary/scripts.js' %}"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'vocabulary/styles.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    {% block script %} {% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'vocabulary:index' %}"
          >Vocabulary Builder</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'vocabulary:index' %}"
                >Home</a
              >
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Vocabulary Lists
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for wordlist in wordlists %}
                <li>
                  <a
                    class="dropdown-item"
                    href="{% url 'vocabulary:wordlist' wordlist.id %}"
                    >{{wordlist.name}}</a
                  >
                </li>
                {% endfor %}
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="{% url 'vocabulary:add_list' %}"
                    >Create new list</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'vocabulary:random_words' %}"
                >Random Words</a
              >
            </li>
            {% endif %}
          </ul>
          <div class="navbar-nav ms-auto">
            {% if user.is_authenticated %}
            <div class="nav-item">
              <a class="nav-link" href="#"
                ><span>Hello, </span>{{ user.username }}</a
              >
            </div>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Settings
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a
                    class="dropdown-item"
                    href="{% url 'vocabulary:update_account_settings' %}"
                    >Account Settings</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="{% url 'vocabulary:manage_lists' %}"
                    >Manage lists</a
                  >
                </li>
              </ul>
            </li>
            <div class="nav-item">
              <a
                class="nav-link text-primary"
                href="{% url 'vocabulary:logout' %}"
                >Logout</a
              >
            </div>
            {% else %}
            <div class="nav-item">
              <a
                class="nav-link text-primary"
                href="{% url 'vocabulary:dummy' %}"
                >use a dummy account</a
              >
            </div>
            <div class="nav-item">
              <a
                class="nav-link text-primary"
                href="{% url 'vocabulary:login' %}"
                >Login</a
              >
            </div>
            <div class="nav-item">
              <a
                class="nav-link text-primary"
                href="{% url 'vocabulary:register' %}"
                >Sign Up</a
              >
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    <div class="container p-3">{% block body %} {% endblock %}</div>
    <footer class="footer text-center">
      <p>
        &copy; 2021 Alex Han Yang | <span>Powered by Django &#38; Heroku</span>
      </p>
    </footer>
  </body>
</html>
