{% extends "vocabulary/layout.html" %} {% load static %} {% block body %}
<div class="content gy-3">
  <header class="content__header header row">
    <h1 class="header__title">Wordlist</h1>
  </header>
  <div class="row">
    {% if messages %} {% for message in messages %}
    <div class="alert {{ message.tags }}">{{ message }}</div>
    {% endfor %} {% endif %} {% if wordlists %}
    <table id="lists-table" class="content__table table table-striped">
      <thead>
        <th scope="col">List name</th>
        <th scope="col">Description</th>
        <th scope="col">Word Count</th>
        <th scope="col">Delete list</th>
      </thead>
      <tbody>
        {% for wordlist in wordlists %}
        <tr>
          <th scope="row" class="align-middle">
            <a href="{% url 'vocabulary:wordlist' wordlist.id %}">{{wordlist.name}}</a>
          </th>
          <td class="align-middle">{{wordlist.description}}</td>
          <td class="align-middle">{{wordlist.count}}</td>
          <td>
            {% if wordlist.name != "default" %}
            <form
              action="{% url 'vocabulary:remove_list' wordlist.name %}"
              method="POST"
              class="align-middle"
              onsubmit="return confirm('Do you really want to delete the list?');"
            >
              {% csrf_token %}
              <button class="btn btn-danger delete-btn">Delete</button>
            </form>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No wordlist found.</p>
    {% endif %}
  </div>
  <div class="row">
    <p class="m-2"><a href="{% url 'vocabulary:add_list' %}">Create new list</a></p>
  </div>
</div>
{% endblock %}
