<!DOCTYPE html>
<html lang="en">
    <head>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script type="text/javascript" src="https://unpkg.com/react@17.0.1/umd/react.development.js" crossorigin></script>
        <script type="text/javascript" src="https://unpkg.com/react-dom@17.0.1/umd/react-dom.development.js" crossorigin></script>
        <script type="text/javascript" src="https://unpkg.com/babel-standalone@6.26.0/babel.min.js"></script>
        
        <title>Hello</title>
    </head>
    <body>
        <div id="container" />
        <script type="text/babel">
            class App extends React.Component {
                render() {
                    return (
                        <div>Hello!</div>
                    );
                }
            }

            ReactDOM.render(<App />, document.querySelector("#container"));

        </script>
    </body>
</html>