{% extends "vocabulary/layout.html" %} {% load static %} {% block script%}
<script
  type="text/javascript"
  src="{% static 'vocabulary/wordlist.js' %}"
></script>
{% endblock %} {% block body %}
<div class="content gy-3">
  <!-- header -->
  <header class="content__header row align-items-center">
    <div class="col-auto">
      <h1 class="header__title">{{ wordlist.name }}</h1>
      <p id="list-id" style="display: none">{{wordlist.id}}</p>
    </div>
  </header>

  <!-- card group -->
  <div id="word-group" class="content__card-group card-group row row-cols-lg-5 row-cols-md-4"></div>

  <!-- Page navigation -->
  <nav aria-label="Page navigation">
    <div id="max-page" data-page="{{ num_pages }}"></div>
    <ul class="pagination justify-content-end" id="page-nav-list"></ul>
  </nav>
</div>
{% endblock %}
