{% extends "vocabulary/layout.html" %}
{% load static %}

{% block body %}
<div class="row mb-3 align-items-center">
	<div class="col-auto">
		<h1>{{ wordlist.name }}</h1>
	</div>
	<div class="col-auto ms-auto">
		<button class="btn btn-primary" id="case-toggle">Show uppercase</button>
	</div>
</div>

{% if wordlist.words.all %}
<div class="row mb-3">
	{% for word in wordlist.words.all %}
	<div class="col-md-4">
		<div class="card">
			<div class="card-body">
				<div class="card-title">{{ word }}</div>
				<p class="card-text">Example meaning</p>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
<div class="row justify-content-end">
	<div class="col-sm-auto">
		<button id="previous" class="btn btn-primary">Previous</button>
		<button id="next" class="btn btn-primary">Next</button>
	</div>
</div>
{% else %}
No words in this list.
{% endif %}

{% endblock %}